<div class="clearfix"></div>
<!-- Header Container / End -->
			<div class="parallax" data-background="assets/images/bg-home-all-insurance.jpg" data-color="#36383e" data-color-opacity="0.45" data-img-width="2500" data-img-height="1600">
				<div class="parallax-content">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<!-- Main Search Container -->
								<div class="main-search-container">
									<h2>Compare, Select & Purchase The Right Policies</h2>
									<!-- Main Search -->
									
										<!-- Type -->
										<div class="search-type col-sm-4">
											<ul class="tabs-nav ">
												<li class="shwcaptcha active first"><a  data-show="#health-insurance"><i class="im im-icon-Doctor"></i> Health Insurance</a></li>
												<li class="shwcaptcha"><a  data-show="#term-insurance"><i class="fa fa-heartbeat"></i> Term Insurance</a></li>
												<li class="shwcaptcha"><a  data-show="#car-insurance"><i class="im im-icon-Car-3"></i> Car Insurance</a></li>
												<li class="shwcaptcha"><a  data-show="#tax-saving"><i class="sl sl-icon-graph"></i> Tax Saving</a></li>
												<li class="shwcaptcha"><a  data-show="#travel-insurance"><i class="fa fa-plane"></i> Travel Insurance</a></li>
												<li class="shwcaptcha"><a  data-show="#bike-insurance"><i class="im im-icon-Motorcycle"></i> Bike Insurance</a></li>
												<li class="shwcaptcha"><a  data-show="#cancer-insurance"><i class="im im-icon-Cancer"></i> Cancer Insurance</a></li>
												<li class="shwcaptcha"><a  data-show="#pension-insurance"><i class="im im-icon-Old-Sticky"></i> Pension Insurance</a></li>
												<li class="shwcaptcha"><a  data-show="#child"><i class="fa fa-child"></i> Child</a></li>
											</ul>
											
											<div class="search-type-arrow"></div>
										</div>
										<!-- Box -->
										<div class="col-sm-8">
											<div class="main-search-box  tabs-container">
												<div class="tab-content" id="health-insurance">
													<form autocomplete="off" class="main-search-form">
													<!-- Main Search Input -->
														<h2>We Have Applied For Licence</h2>
														<div class="step1">
															<!-- Row -->
															<div class="row with-forms">
																<!-- Property Type -->
																<div class="col-md-8">
																	<label>Cover For</label>

																	<select data-placeholder="Select one option" required autocomplete="off" name="coverFor" class="chosen-select-no-single" >
																		<option value="1:0">1 Adult Only</option>
																		<option value="2:0">2 Adults</option>
																		<option value="2:1">2 Adults &amp; 1 Child</option>
																		<option value="2:2">2 Adults &amp; 2 Children</option>
																		<option value="2:3">2 Adults &amp; 3 Children</option>
																		<option value="2:4">2 Adults &amp; 4 Children</option>
																		<option value="1:1">1 Adult &amp; 1 Child</option>
																		<option value="1:2">1 Adult &amp; 2 Children</option>
																		<option value="1:3">1 Adult &amp; 3 Children</option>
																		<option value="1:4">1 Adult &amp; 4 Children</option>
																	</select>
																</div>

																<div class="col-md-8">
																	<label>Date Of Birth</label>
																	<input type="date" required autocomplete="off" max="2021-01-05" name="dob"  class="form-control datepicker">  
																</div>
																
															</div>
															<!-- Row / End -->
															<!-- More Search Options -->
															<div class="main-search-input larger-input">
																<a class="button btn-nxt" data-curr="1" data-validation="s:coverFor,i:dob" data-tab="#health-insurance">Next <i class="fa fa-arrow-right"></i></a>
																<input type="hidden" name="type" val="health-insurance">
															</div>
														</div>
														<div class="step2" style="display:none">
															<!-- Row -->
															<div class="main-search-input larger-input">
																<a class="btn-prev" data-curr="2" data-tab="#health-insurance"><i class="fa fa-arrow-left"> Back</i></a>
															</div>
															<div class="row with-forms">
																<!-- Property Type -->
																
																<!-- Min Price -->
																<div class="col-md-8">
																	<label>Name</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Joxx Doxx" name="name" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>City</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Mumxxx" name="city" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>Phone</label>
																	<!-- Select Input -->
																	<input type="tel" placeholder="+91xxxxx xxxxx" name="phone" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
															</div>
															<!-- Row / End -->
															<!-- More Search Options -->
															<div class="col-md-8 captchaHtml">
															</div>
															<div class="main-search-input larger-input">
																<button class="button submit-btn" >Search</button>
															</div>
														</div>
													<!-- More Search Options / End -->
													</form>
												</div>
												<div class="tab-content" id="term-insurance">
													<form autocomplete="off" class="main-search-form">
													<!-- Main Search Input -->
														<h2>We Have Applied For Licence</h2>
														<div class="step1">
															<!-- Row -->
															<div class="row with-forms">
																<!-- Property Type -->
																<div class="col-md-8">
																	<label>Date Of Birth</label>
																	<input type="date" required autocomplete="off" max="2021-01-05" name="dob"  class="form-control datepicker">  
																</div>
																<div class="col-md-8">
																	<label>Tobacco</label>
																	<select data-placeholder="Select one option" required autocomplete="off" name="tobacco" class="chosen-select-no-single" >
																		<option value="1000">Yes</option>
																		<option value="1100">No</option>
																	</select>
																</div>
																<div class="col-md-8">
																	<label>Income</label>
																	<select data-placeholder="Select one option" required autocomplete="off" name="income" class="chosen-select-no-single" >
																		<option value="0-300000">Upto 3 Lacs Per Annum</option>
																		<option value="300000-500000">3-5 Lacs Per Annum</option>
																		<option value="500000-700000">5-7 Lacs Per Annum</option>
																		<option value="700000-1000000">7-10 Lacs Per Annum</option>
																		<option value="1000000-1500000">10-15 Lacs Per Annum</option>
																		<option value="1500000-10000000">15 Lacs+ Per Annum</option>
																	</select>
																</div>
																<div class="col-md-8 in-row">
																	<input id="check-2" class="col-sm-1 col-xs-1" type="radio" checked name="Gender" value="Male">
																	<label for="check-2" class="col-sm-3 col-xs-3"><i class="fa fa-male"></i>Male</label>
																	<input id="check-2" class="col-sm-1 col-xs-1" type="radio" name="Gender" value="Female">
																	<label for="check-2" class="col-sm-3 col-xs-3"><i class="fa fa-female"></i>Female</label>
																</div>
															</div>
															<!-- Row / End -->
															<!-- More Search Options -->
															<div class="main-search-input larger-input">
																<a class="button btn-nxt" data-validation="i:dob,s:tobacco,s:income,i:Gender" data-curr="1" data-tab="#term-insurance">Next <i class="fa fa-arrow-right"></i></a>
																<input type="hidden" name="type" val="term-insurance">
															</div>
														</div>
														<div class="step2" style="display:none">
															<!-- Row -->
															<div class="main-search-input larger-input">
																<a class="btn-prev" data-curr="2" data-tab="#term-insurance"><i class="fa fa-arrow-left"> Back</i></a>
															</div>
															<div class="row with-forms">
																<!-- Property Type -->
																
																<!-- Min Price -->
																<div class="col-md-8">
																	<label>Name</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Joxx Doxx" name="name" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>City</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Mumxxx" name="city" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>Phone</label>
																	<!-- Select Input -->
																	<input type="tel" placeholder="+91xxxxx xxxxx" name="phone" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
															</div>
															<!-- Row / End -->
															<!-- More Search Options -->
															<div class="col-md-8 captchaHtml">
															</div>
															<div class="main-search-input larger-input">
																<button class="button submit-btn" >Search</button>
															</div>
														</div>
													<!-- More Search Options / End -->
													</form>
												</div>
												<div class="tab-content" id="car-insurance">
													<div class="step0">
														<form autocomplete="off" class="main-search-form">
															<div class="col-md-4">
																<label>Car Number</label>
																<!-- Select Input -->
																<input type="text" placeholder="MH 0X XX 3XXX" name="carNumber" required autocomplete="off">
																<!-- Select Input / End -->
															</div>
															<div class="col-md-4">
																<label>Name</label>
																<!-- Select Input -->
																<input type="text" placeholder="Jon Doe" name="name" required autocomplete="off">
																<!-- Select Input / End -->
															</div>
															<div class="col-md-4">
																<label>Phone</label>
																<!-- Select Input -->
																<input type="text" placeholder="98xxxxxxxx" name="phone" required autocomplete="off">
																<!-- Select Input / End -->
															</div>
															<div class="col-md-8 captchaHtml">
															</div>
															<div class="main-search-input larger-input">
																	<input type="hidden" name="type" val="car-insurance">
																	<button class="button">Find Insurance</button>
															</div>
															
														</form>
														
														<div class="col-md-8">
															Or
														</div>
														<div class="main-search-input larger-input col-md-8">
															<a class="button btn-nxt" data-curr="0" data-validation="" data-tab="#car-insurance">Proceed Without Car Number <i class="fa fa-arrow-right"></i></a>
														</div>
													</div>
													<form autocomplete="off" class="main-search-form">
													<!-- Main Search Input -->
														<h2>We Have Applied For Licence</h2>
														<div class="step1" style="display:none">
															<div class="main-search-input larger-input">
																<a class="btn-prev" data-curr="1" data-tab="#car-insurance"><i class="fa fa-arrow-left"> Back</i></a>
															</div>
															<!-- Row -->
															<div class="row with-forms">
																<!-- Property Type -->
																<div class="col-md-8">
																	<label>Car Make</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Car Brand" name="carBrand" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>Variant</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Variant" name="varaint" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>RTO Code</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="MH or GJ" name="rtoCode" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>Reg. Year</label>
																	<select data-placeholder="Select one option" required autocomplete="off" name="regYear" class="chosen-select-no-single" >
																		<option value="2020-08-15">2020</option><option value="2019-08-15">2019</option><option value="2018-08-15">2018</option><option value="2017-08-15">2017</option><option value="2016-08-15">2016</option><option value="2015-08-15">2015</option><option value="2014-08-15">2014</option><option value="2013-08-15">2013</option><option value="2012-08-15">2012</option><option value="2011-08-15">2011</option><option value="2010-08-15">2010</option><option value="2009-08-15">2009</option><option value="2008-08-15">2008</option>		
																	</select>
																</div>
															</div>
															<!-- Row / End -->
															<!-- More Search Options -->
															<div class="main-search-input larger-input">
																<a class="button btn-nxt" data-validation="i:carBrand,i:varaint,i:rtoCode,s:regYear" data-curr="1" data-tab="#car-insurance">Next <i class="fa fa-arrow-right"></i></a>
																<input type="hidden" name="type" val="car-insurance">
															</div>
														</div>
														<div class="step2" style="display:none">
															<!-- Row -->
															<div class="main-search-input larger-input">
																<a class="btn-prev" data-curr="2" data-tab="#car-insurance"><i class="fa fa-arrow-left"> Back</i></a>
															</div>
															<div class="row with-forms">
																<!-- Property Type -->
																
																<!-- Min Price -->
																<div class="col-md-8">
																	<label>Name</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Joxx Doxx" name="name" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>City</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Mumxxx" name="city" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>Phone</label>
																	<!-- Select Input -->
																	<input type="tel" placeholder="+91xxxxx xxxxx" name="phone" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
															</div>
															<!-- Row / End -->
															<!-- More Search Options -->
															<div class="col-md-8 captchaHtml">
															</div>
															<div class="main-search-input larger-input">
																<button class="button submit-btn" >Search</button>
															</div>
														</div>
													<!-- More Search Options / End -->
													</form>
												</div>
												<div class="tab-content" id="tax-saving">
													<form autocomplete="off" class="main-search-form">
													<!-- Main Search Input -->
														<h2>We Have Applied For Licence</h2>
														<div class="step1">
															<!-- Row -->
															<div class="row with-forms">
																<div class="col-md-8">
																	<label>Date Of Birth</label>
																	<input type="date" required autocomplete="off" max="2021-01-05" name="dob"  class="form-control datepicker">  
																</div>
																<div class="col-md-8">
																	<label>Income</label>
																	<select data-placeholder="Select one option" required autocomplete="off" name="income" class="chosen-select-no-single" >
																		<option value="0-300000">Upto 3 Lacs Per Annum</option>
																		<option value="300000-500000">3-5 Lacs Per Annum</option>
																		<option value="500000-700000">5-7 Lacs Per Annum</option>
																		<option value="700000-1000000">7-10 Lacs Per Annum</option>
																		<option value="1000000-1500000">10-15 Lacs Per Annum</option>
																		<option value="1500000-10000000">15 Lacs+ Per Annum</option>
																	</select>
																</div>
																<div class="col-md-8 in-row">
																	<input id="check-2" class="col-sm-1 col-xs-1" type="radio" checked name="Gender" value="Male">
																	<label for="check-2" class="col-sm-3 col-xs-3"><i class="fa fa-male"></i>Male</label>
																	<input id="check-2" class="col-sm-1 col-xs-1" type="radio" name="Gender" value="Female">
																	<label for="check-2" class="col-sm-3 col-xs-3"><i class="fa fa-female"></i>Female</label>
																</div>
															</div>
															<!-- Row / End -->
															<!-- More Search Options -->
															<div class="main-search-input larger-input">
																<a class="button btn-nxt" data-curr="1" data-validation="i:dob,s:income,i:Gender" data-tab="#tax-saving">Next <i class="fa fa-arrow-right"></i></a>
																<input type="hidden" name="type" val="tax-saving">
															</div>
														</div>
														<div class="step2" style="display:none">
															<!-- Row -->
															<div class="main-search-input larger-input">
																<a class="btn-prev" data-curr="2" data-tab="#tax-saving"><i class="fa fa-arrow-left"> Back</i></a>
															</div>
															<div class="row with-forms">
																<!-- Property Type -->
																
																<!-- Min Price -->
																<div class="col-md-8">
																	<label>Name</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Joxx Doxx" name="name" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>City</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Mumxxx" name="city" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>Phone</label>
																	<!-- Select Input -->
																	<input type="tel" placeholder="+91xxxxx xxxxx" name="phone" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
															</div>
															<!-- Row / End -->
															<!-- More Search Options -->
															<div class="col-md-8 captchaHtml">
															</div>
															<div class="main-search-input larger-input">
																<button class="button submit-btn" >Search</button>
															</div>
														</div>
													<!-- More Search Options / End -->
													</form>
												</div>
												<div class="tab-content" id="travel-insurance">
													<form autocomplete="off" class="main-search-form">
													<!-- Main Search Input -->
														<h2>We Have Applied For Licence</h2>
														<div class="step1">
															<!-- Row -->
															<div class="row with-forms">
																<!-- Property Type -->
																<div class="col-md-8">
																	<label>Date Of Birth</label>
																	<input type="date" required autocomplete="off" max="2021-01-05" name="dob"  class="form-control datepicker">  
																</div>
																<div class="col-md-8">
																	<label>Travelling To</label>
																	<select data-placeholder="Select one option" required autocomplete="off" name="travellingTo" class="chosen-select-no-single" >
																		<option value="1">Worldwide (Excluding US and Canada)</option>
																		<option value="2">Worldwide (Including US and Canada)</option>
																	</select>
																</div>
																<div class="col-md-8">
																	<label>Cover Amount</label>
																	<select data-placeholder="Select one option" required autocomplete="off" name="coverAmmount" class="chosen-select-no-single" >
																		<option value="25000-100000">0.25 to 1.0 Lacs (In USD)</option>
																		<option value="250000-500000">2.5 to 5.0 Lacs (In USD)</option>
																	</select>
																</div>
																<div class="col-md-8">
																	<label>Trip Type</label>
																	<select data-placeholder="Select one option" required autocomplete="off" name="tripType" class="chosen-select-no-single" >
																		<option value="Single">Single</option>
																		<option value="Multi">Multi</option>
																	</select>
																</div>
																<div class="col-md-8">
																	<label>Stay Days</label>
																	<!-- Select Input -->
																	<input type="number" placeholder="Joxx Doxx" name="stayDays" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
															</div>
															<!-- Row / End -->
															<!-- More Search Options -->
															<div class="main-search-input larger-input">
																<a class="button btn-nxt" data-validation="i:dob,s:travellingTo,s:coverAmmount,s:tripType,i:stayDays" data-curr="1" data-tab="#travel-insurance">Next <i class="fa fa-arrow-right"></i></a>
																<input type="hidden" name="type" val="travel-insurance">
															</div>
														</div>
														<div class="step2" style="display:none">
															<!-- Row -->
															<div class="main-search-input larger-input">
																<a class="btn-prev" data-curr="2" data-tab="#travel-insurance"><i class="fa fa-arrow-left"> Back</i></a>
															</div>
															<div class="row with-forms">
																<!-- Property Type -->
																
																<!-- Min Price -->
																<div class="col-md-8">
																	<label>Name</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Joxx Doxx" name="name" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>City</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Mumxxx" name="city" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>Phone</label>
																	<!-- Select Input -->
																	<input type="tel" placeholder="+91xxxxx xxxxx" name="phone" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
															</div>
															<!-- Row / End -->
															<!-- More Search Options -->
															<div class="col-md-8 captchaHtml">
															</div>
															<div class="main-search-input larger-input">
																<button class="button submit-btn" >Search</button>
															</div>
														</div>
													<!-- More Search Options / End -->
													</form>
												</div>
												<div class="tab-content" id="bike-insurance">
													<form autocomplete="off" class="main-search-form">
													<!-- Main Search Input -->
														<h2>We Have Applied For Licence</h2>
														<div class="step1">
															<!-- Row -->
															<div class="row with-forms">
																<!-- Property Type -->
																<div class="col-md-8">
																	<label>Bike Make</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Car Brand" name="carBrand" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>Variant</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Variant" name="varaint" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>RTO Code</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="MH or GJ" name="rtoCode" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>Reg. Year</label>
																	<select data-placeholder="Select one option" required autocomplete="off" name="regYear" class="chosen-select-no-single" >
																		<option value="2020-08-15">2020</option><option value="2019-08-15">2019</option><option value="2018-08-15">2018</option><option value="2017-08-15">2017</option><option value="2016-08-15">2016</option><option value="2015-08-15">2015</option><option value="2014-08-15">2014</option><option value="2013-08-15">2013</option><option value="2012-08-15">2012</option><option value="2011-08-15">2011</option><option value="2010-08-15">2010</option><option value="2009-08-15">2009</option><option value="2008-08-15">2008</option>		
																	</select>
																</div>
																<div class="col-md-8">
																	<label>Status</label>
																	<select data-placeholder="Select one option" required autocomplete="off" name="bikeStatus" class="chosen-select-no-single" >
																		<option value="New">New Bike</option>
																		<option value="Not Expired">Insurance Not Expired Yet</option>
																		<option value="Less Than 180">Expired Less Than 180 Days</option>
																		<option value="More Than 180">Expired More Than 180 Days</option>
																	</select>
																</div>
															</div>
															<!-- Row / End -->
															<!-- More Search Options -->
															<div class="main-search-input larger-input">
																<a class="button btn-nxt" data-validation="i:carBrand,i:varaint,i:rtoCode,s:regYear,s:bikeStatus" data-curr="1" data-tab="#bike-insurance">Next <i class="fa fa-arrow-right"></i></a>
																<input type="hidden" name="type" val="bike-insurance">
															</div>
														</div>
														<div class="step2" style="display:none">
															<!-- Row -->
															<div class="main-search-input larger-input">
																<a class="btn-prev" data-curr="2" data-tab="#bike-insurance"><i class="fa fa-arrow-left"> Back</i></a>
															</div>
															<div class="row with-forms">
																<!-- Property Type -->
																
																<!-- Min Price -->
																<div class="col-md-8">
																	<label>Name</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Joxx Doxx" name="name" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>City</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Mumxxx" name="city" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>Phone</label>
																	<!-- Select Input -->
																	<input type="tel" placeholder="+91xxxxx xxxxx" name="phone" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
															</div>
															<!-- Row / End -->
															<!-- More Search Options -->
															<div class="col-md-8 captchaHtml">
															</div>
															<div class="main-search-input larger-input">
																<button class="button submit-btn" >Search</button>
															</div>
														</div>
													<!-- More Search Options / End -->
													</form>
												</div>
												<div class="tab-content" id="cancer-insurance">
													<form autocomplete="off" class="main-search-form">
													<!-- Main Search Input -->
														<h2>We Have Applied For Licence</h2>
														<div class="step1">
															<!-- Row -->
															<div class="row with-forms">
																<!-- Property Type -->
																<div class="col-md-8">
																	<label>Date Of Birth</label>
																	<input type="date" required autocomplete="off" max="2021-01-05" name="dob"  class="form-control datepicker">  
																</div>
																<div class="col-md-8">
																	<label>Tobacco</label>
																	<select data-placeholder="Select one option" required autocomplete="off" name="tobacco" class="chosen-select-no-single" >
																		<option value="1000">Yes</option>
																		<option value="1100">No</option>
																	</select>
																</div>
																<div class="col-md-8">
																	<label>Income</label>
																	<select data-placeholder="Select one option" required autocomplete="off" name="income" class="chosen-select-no-single" >
																		<option value="0-300000">Upto 3 Lacs Per Annum</option>
																		<option value="300000-500000">3-5 Lacs Per Annum</option>
																		<option value="500000-700000">5-7 Lacs Per Annum</option>
																		<option value="700000-1000000">7-10 Lacs Per Annum</option>
																		<option value="1000000-1500000">10-15 Lacs Per Annum</option>
																		<option value="1500000-10000000">15 Lacs+ Per Annum</option>
																	</select>
																</div>
																<div class="col-md-8 in-row">
																	<input id="check-2" class="col-sm-1 col-xs-1" type="radio" checked name="Gender" value="Male">
																	<label for="check-2" class="col-sm-3 col-xs-3"><i class="fa fa-male"></i>Male</label>
																	<input id="check-2" class="col-sm-1 col-xs-1" type="radio" name="Gender" value="Female">
																	<label for="check-2" class="col-sm-3 col-xs-3"><i class="fa fa-female"></i>Female</label>
																</div>
															</div>
															<!-- Row / End -->
															<!-- More Search Options -->
															<div class="main-search-input larger-input">
																<a class="button btn-nxt"  data-validation="i:dob,s:tobacco,s:income,i:Gender" data-curr="1" data-tab="#cancer-insurance">Next <i class="fa fa-arrow-right"></i></a>
																<input type="hidden" name="type" val="cancer-insurance">
															</div>
														</div>
														<div class="step2" style="display:none">
															<!-- Row -->
															<div class="main-search-input larger-input">
																<a class="btn-prev" data-curr="2" data-tab="#cancer-insurance"><i class="fa fa-arrow-left"> Back</i></a>
															</div>
															<div class="row with-forms">
																<!-- Property Type -->
																
																<!-- Min Price -->
																<div class="col-md-8">
																	<label>Name</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Joxx Doxx" name="name" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>City</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Mumxxx" name="city" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>Phone</label>
																	<!-- Select Input -->
																	<input type="tel" placeholder="+91xxxxx xxxxx" name="phone" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
															</div>
															<!-- Row / End -->
															<!-- More Search Options -->
															<div class="col-md-8 captchaHtml">
															</div>
															<div class="main-search-input larger-input">
																<button class="button submit-btn" >Search</button>
															</div>
														</div>
													<!-- More Search Options / End -->
													</form>
												</div>
												<div class="tab-content" id="pension-insurance">
													<form autocomplete="off" class="main-search-form">
													<!-- Main Search Input -->
														<h2>We Have Applied For Licence</h2>
														<div class="step1">
															<!-- Row -->
															<div class="row with-forms">
																<!-- Property Type -->
																<div class="col-md-8">
																	<label>Date Of Birth</label>
																	<input type="date" required autocomplete="off" max="2021-01-05" name="dob"  class="form-control datepicker">  
																</div>
																<div class="col-md-8">
																	<label>Income</label>
																	<select data-placeholder="Select one option" required autocomplete="off" name="income" class="chosen-select-no-single" >
																		<option value="0-300000">Upto 3 Lacs Per Annum</option>
																		<option value="300000-500000">3-5 Lacs Per Annum</option>
																		<option value="500000-700000">5-7 Lacs Per Annum</option>
																		<option value="700000-1000000">7-10 Lacs Per Annum</option>
																		<option value="1000000-1500000">10-15 Lacs Per Annum</option>
																		<option value="1500000-10000000">15 Lacs+ Per Annum</option>
																	</select>
																</div>
																<div class="col-md-8 in-row">
																	<input id="check-2" class="col-sm-1 col-xs-1" type="radio" checked name="Gender" value="Male">
																	<label for="check-2" class="col-sm-3 col-xs-3"><i class="fa fa-male"></i>Male</label>
																	<input id="check-2" class="col-sm-1 col-xs-1" type="radio" name="Gender" value="Female">
																	<label for="check-2" class="col-sm-3 col-xs-3"><i class="fa fa-female"></i>Female</label>
																</div>
															</div>
															<!-- Row / End -->
															<!-- More Search Options -->
															<div class="main-search-input larger-input">
																<a class="button btn-nxt" data-validation="i:dob,s:income,i:Gender" data-curr="1" data-tab="#pension-insurance">Next <i class="fa fa-arrow-right"></i></a>
																<input type="hidden" name="type" val="pension-insurance">
															</div>
														</div>
														<div class="step2" style="display:none">
															<!-- Row -->
															<div class="main-search-input larger-input">
																<a class="btn-prev" data-curr="2" data-tab="#pension-insurance"><i class="fa fa-arrow-left"> Back</i></a>
															</div>
															<div class="row with-forms">
																<!-- Property Type -->
																
																<!-- Min Price -->
																<div class="col-md-8">
																	<label>Name</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Joxx Doxx" name="name" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>City</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Mumxxx" name="city" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>Phone</label>
																	<!-- Select Input -->
																	<input type="tel" placeholder="+91xxxxx xxxxx" name="phone" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
															</div>
															<!-- Row / End -->
															<!-- More Search Options -->
															<div class="col-md-8 captchaHtml">
															</div>
															<div class="main-search-input larger-input">
																<button class="button submit-btn" >Search</button>
															</div>
														</div>
													<!-- More Search Options / End -->
													</form>
												</div>
												<div class="tab-content" id="child">
													<form autocomplete="off" class="main-search-form">
													<!-- Main Search Input -->
														<h2>We Have Applied For Licence</h2>
														<div class="step1">
															<!-- Row -->
															<div class="row with-forms">
																<!-- Property Type -->
																<div class="col-md-8">
																	<label>Date Of Birth</label>
																	<input type="date" required autocomplete="off" max="2021-01-05" name="dob"  class="form-control datepicker">  
																</div>
																<div class="col-md-8">
																	<label>Income</label>
																	<select data-placeholder="Select one option" required autocomplete="off" name="income" class="chosen-select-no-single" >
																		<option value="0-300000">Upto 3 Lacs Per Annum</option>
																		<option value="300000-500000">3-5 Lacs Per Annum</option>
																		<option value="500000-700000">5-7 Lacs Per Annum</option>
																		<option value="700000-1000000">7-10 Lacs Per Annum</option>
																		<option value="1000000-1500000">10-15 Lacs Per Annum</option>
																		<option value="1500000-10000000">15 Lacs+ Per Annum</option>
																	</select>
																</div>
																<div class="col-md-8 in-row">
																	<input id="check-2" class="col-sm-1 col-xs-1" type="radio" checked name="Gender" value="Male">
																	<label for="check-2" class="col-sm-3 col-xs-3"><i class="fa fa-male"></i>Male</label>
																	<input id="check-2" class="col-sm-1 col-xs-1" type="radio" name="Gender" value="Female">
																	<label for="check-2" class="col-sm-3 col-xs-3"><i class="fa fa-female"></i>Female</label>
																</div>
															</div>
															<!-- Row / End -->
															<!-- More Search Options -->
															<div class="main-search-input larger-input">
																<a class="button btn-nxt" data-validation="i:dob,s:income,i:Gender" data-curr="1" data-tab="#child">Next <i class="fa fa-arrow-right"></i></a>
																<input type="hidden" name="type" val="child">
															</div>
														</div>
														<div class="step2" style="display:none">
															<!-- Row -->
															<div class="main-search-input larger-input">
																<a class="btn-prev" data-curr="2" data-tab="#child"><i class="fa fa-arrow-left"> Back</i></a>
															</div>
															<div class="row with-forms">
																<!-- Property Type -->
																
																<!-- Min Price -->
																<div class="col-md-8">
																	<label>Name</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Joxx Doxx" name="name" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>City</label>
																	<!-- Select Input -->
																	<input type="text" placeholder="Mumxxx" name="city" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
																<div class="col-md-8">
																	<label>Phone</label>
																	<!-- Select Input -->
																	<input type="tel" placeholder="+91xxxxx xxxxx" name="phone" required autocomplete="off">
																	<!-- Select Input / End -->
																</div>
															</div>
															<!-- Row / End -->
															<!-- More Search Options -->
															<div class="col-md-8 captchaHtml">
															</div>
															<div class="main-search-input larger-input">
																<button class="button submit-btn" >Search</button>
															</div>
														</div>
													<!-- More Search Options / End -->
													</form>
												</div>
											</div>
										</div>
										<!-- Box / End -->
									<!-- Main Search -->
								</div>
								<!-- Main Search Container / End -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Container -->
<div class="container">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-bottom-35 margin-top-50">About D Cube Insure <span>Leading Insurance Web Aggregator</span></h3>
		</div>
		<p>We will be offering free and unbiased quotes of insurance products such as life, car, health, travel, investment, pension and business among others with the help of our tie-ups with top insurance companies across both life and general insurance. We are equipped with the latest technology, infographics, specific cash flow projection charts, articles, informative content, videos, etc to serve you better.</p>
		
	</div>
</div>
<!-- Fullwidth Section -->
<section class="fullwidth margin-top-105" data-background-color="#f7f7f7">

	<!-- Box Headline -->
	<h3 class="headline-box">Why D Cube Insure?</h3>
	
	<!-- Content -->
	<div class="container">
		<div class="row">

			<div class="col-md-3 col-sm-6">
				<!-- Icon Box -->
				<div class="icon-box-1">

					<div class="icon-container">
						<i class="fa  fa-clock-o"></i>
						<div class="icon-links">
							<a href="javascript:void()"><i class="fa  fa-clock-o"></i></a>
							
						</div>
					</div>

					<h3>Save Time And Money</h3>
					
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<!-- Icon Box -->
				<div class="icon-box-1">

					<div class="icon-container">
						<i class="fa fa-balance-scale"></i>
						<div class="icon-links">
							<a href="javascript:void()"><i class="fa  fa-balance-scale"></i></a>
							
						</div>
					</div>

					<h3>Easy To Compare</h3>
					
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<!-- Icon Box -->
				<div class="icon-box-1">

					<div class="icon-container">
						<i class="sl sl-icon-docs"></i>
						<div class="icon-links">
							<a href="javascript:void()"><i class="sl sl-icon-docs"></i></a>
							
						</div>
					</div>

					<h3>Less Documents</h3>
					
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<!-- Icon Box -->
				<div class="icon-box-1">

					<div class="icon-container">
						<i class="im im-icon-Handshake"></i>
						<div class="icon-links">
							<a href="javascript:void()"><i class="im im-icon-Handshake"></i></a>
							
						</div>
					</div>

					<h3>Trustworthy</h3>
					
				</div>
			</div>

		</div>
	</div>
</section>

