
<div class="clearfix"></div>
<!-- Header Container / End -->
			<div class="parallax" data-background="assets/images/bg-home-all-insurance.jpg" data-color="#36383e" data-color-opacity="0.45" data-img-width="2500" data-img-height="1600">
				<div class="parallax-content">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<!-- Main Search Container -->
								<div class="main-search-container">
									<h2 style="text-transform: capitalize;">Mutual Funds</h2>
                                 <!-- <div class="col-lg-12"><div class="row">
                                     <div class="col-md-6"><h1>Khushal</h1></div>
                                     <div class="col-md-6"><h1>Patil</h1></div>
                                 </div></div> -->
									<!-- Main Search -->
								</div>
								<!-- Main Search Container / End -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Container -->
<div class="container">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-bottom-35 margin-top-50" style="text-transform: capitalize;">Mutual Funds</h3>
			<!-- <h2 style="text-align:center">Have Applied For Licence. Details Will Be Displayed Soon</h2> -->
		</div>
		<form>
		 <div class="col-lg-12"><div class="row">
			 
             <div class="col-md-3"><label>Mutual funds</label> <input type="text" placeholder="For eg. Tata Digital Growth plan..."></div>
			 
             <div class="col-md-2">
				<label>Sort By</label>
				<select data-placeholder="Select one option" required autocomplete="off" name="income" class="chosen-select-no-single col-lg-3" >
					<option value="">1Y</option>
					<option value="">2Y</option>
					<option value="">3Y</option>
				</select>
				</div>
			 <div class="col-md-3">
				<label>Filter By Category</label>
				<select data-placeholder="Select one option" required autocomplete="off" name="income" class="chosen-select-no-single col-lg-3" >
					<option value="">All</option>
					<option value="">Debt</option>
					<option value="">Equity</option>
				</select>
				</div>
				<div class="col-md-3">
					<label>Filter By Sub-Category</label>
					<select data-placeholder="Select one option" required autocomplete="off" name="income" class="chosen-select-no-single col-lg-3" >
						<option value="">All</option>
						<option value="">Banking and PSU Fund</option>
						<option value="">Corporate Bond Fund</option>
						<option value="">Credit Risk Fund</option>
					</select>
					</div>
          </div></div>
		  <div class="col-md-4 in-row">
			<input id="check-2" class="col-sm-1 col-xs-1" type="radio" checked name="Gender" value="Male">
			<label for="check-2" class="col-sm-3 col-xs-3"></i>Growth</label>
			<input id="check-2" class="col-sm-1 col-xs-1" type="radio" name="Gender" value="Female">
			<label for="check-2" class="col-sm-3 col-xs-3"></i>Divident</label>
		</div>
		</form>
	</div>
</div>
<div class="container">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-bottom-35 margin-top-50">About D Cube Insure <span>Leading Insurance Web Aggregator</span></h3>
		</div>
		<p>We will be offering free and unbiased quotes of insurance products such as life, car, health, travel, investment, pension and business among others with the help of our tie-ups with top insurance companies across both life and general insurance. We are equipped with the latest technology, infographics, specific cash flow projection charts, articles, informative content, videos, etc to serve you better.</p>
		
	</div>
</div>
